name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Enable Desktop support
        run: |
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            flutter config --enable-windows-desktop
          else
            flutter config --enable-macos-desktop
          fi
        shell: bash

      - name: Install dependencies
        run: flutter pub get

      - name: Build App
        run: |
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            flutter build windows --release
          else
            flutter build macos --release
          fi
        shell: bash

      - name: Prepare Artifact (Windows)
        if: matrix.os == 'windows-latest'
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: 'iot-devkit-windows.zip'
          directory: 'build/windows/x64/runner/Release'

      - name: Prepare Artifact (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          cd build/macos/Build/Products/Release
          zip -r ../../../../../iot-devkit-macos.zip iot_devkit.app

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            iot-devkit-windows.zip
            iot-devkit-macos.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact (Backup)
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-artifact
          path: |
            iot-devkit-windows.zip
            iot-devkit-macos.zip
